In [1]:
from product_handler import ProductHandler
ph = ProductHandler()
ph.reset_db()

In [3]:
ph.gen_random_data()

In [3]:
ph.get_detail_data()

,id,detail_ts,quantity,price,type,supplier,note
4021,中性排汗衣_綠_2L,2023-05-12 18:30:02.956082,50.0,100.0,IN,,
4020,中性排汗衣_綠_2L,2023-05-12 18:30:02.315231,50.0,100.0,IN,,
4019,中性排汗衣_綠_2L,2023-05-12 18:30:01.747801,50.0,100.0,IN,,
4018,中性排汗衣_綠_2L,2023-05-12 18:30:01.151590,50.0,100.0,IN,,
4017,中性排汗衣_綠_2L,2023-05-12 18:30:00.475566,50.0,100.0,IN,,
...,...,...,...,...,...,...,...
4,女上衣_黃_XXL,2023-05-11 23:47:28.338066,750.0,1000.0,IN,柏國,None
3,男短褲_灰_L,2023-05-11 23:47:28.334045,-50.0,1000.0,OUT,蝦皮,None
2,男短褲_灰_L,2023-05-11 23:47:28.330045,-250.0,600.0,OUT,柏國,None
1,男短褲_灰_L,2023-05-11 23:47:28.327071,450.0,2000.0,IN,蝦皮,None
0,男短褲_灰_L,2023-05-11 23:47:28.322098,450.0,1000.0,IN,柏國,None